body{
    margin: 0;
    box-sizing: border-box;
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    font-family: 'Lobster', cursive;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
#append{
    margin: 3% auto;
    width: 60%;

}
p, h3{
    text-align: center;
    font-family: 'Lato', sans-serif;
}

h3{
    text-transform: uppercase;
    color: #0f2550;
}
p{
    line-height: 1.5;
    font-size: 20px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

img{
    width: 300px;
    height: 240px;
    border: 5px solid #d0e5e8;
    margin: 1%;
    transition: all 1s;
}

img:hover{
    transform: scale(1.1);
}

footer{
    background-color: #98a7b3;
    text-align: center;
    margin-top: 10px;
}

@media only screen and (max-width: 700px){
    #append{
        width: 90%;
    }
}